/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@-moz-keyframes "spin" {
	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes "spin" {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes "spin" {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.portrait {
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}

.rotated-image {
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}

#pagina-reproductor {
	color: @color-gris;
	
	#title {
		font-family: @tipo-fuente-secundaria;
		font-size: @tamano-fuente-base * 3;
		font-weight: bold;
	}
	
	#artist {
		font-family: web-serveroff;
		font-size: @tamano-fuente-base * 2;
	}
	
	#album {
		font-family: web-serveroff;
		font-size: @tamano-fuente-base * 1.8;
		font-style: italic;
	}
}
